<style type="text/css">
body {
font-family: 'Roboto', sans-serif;
overflow-x: hidden;
}
.card {
padding-top: 20px;
margin: 10px 0 20px 0;
/*background-color: rgba(214, 224, 226, 0.2); */
background-color: #fff;
border-top-width: 0;
border-bottom-width: 2px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.card .card-heading {
padding: 0 20px;
margin: 0;
}
.card .card-heading.simple {
font-size: 20px;
font-weight: 300;
color: #777;
border-bottom: 1px solid #e5e5e5;
}
.card .card-heading.image img {
display: inline-block;
width: 46px;
height: 46px;
margin-right: 15px;
vertical-align: top;
border: 0;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
.card .card-heading.image .card-heading-header {
display: inline-block;
vertical-align: top;
}
.card .card-heading.image .card-heading-header h3 {
margin: 0;
font-size: 14px;
line-height: 16px;
color: #262626;
}
.card .card-heading.image .card-heading-header span {
font-size: 12px;
color: #999999;
}
.card .card-body {
padding: 0 20px;
margin-top: 20px;
}
.card .card-media {
padding: 0 20px;
margin: 0 -14px;
}
.card .card-media img {
max-width: 100%;
max-height: 100%;
}
.card .card-actions {
min-height: 30px;
padding: 0 20px 20px 20px;
margin: 20px 0 0 0;
}
.card .card-comments {
padding: 20px;
margin: 0;
background-color: #f8f8f8;
}
.card .card-comments .comments-collapse-toggle {
padding: 0;
margin: 0 20px 12px 20px;
}
.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
padding-right: 5px;
overflow: hidden;
font-size: 12px;
color: #999;
text-overflow: ellipsis;
white-space: nowrap;
}
.card-comments .media-heading {
font-size: 13px;
font-weight: bold;
}
.card.people {
position: relative;
display: inline-block;
width: 170px;
height: 300px;
padding-top: 0;
margin-left: 20px;
overflow: hidden;
vertical-align: top;
}
.card.people:first-child {
margin-left: 0;
}
.card.people .card-top {
position: absolute;
top: 0;
left: 0;
display: inline-block;
width: 170px;
height: 150px;
background-color: #ffffff;
}
.card.people .card-top.green {
background-color: #53a93f;
}
.card.people .card-top.blue {
background-color: #427fed;
}
.card.people .card-info {
position: absolute;
top: 150px;
display: inline-block;
width: 100%;
height: 101px;
overflow: hidden;
background: #ffffff;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.card.people .card-info .title {
display: block;
margin: 8px 14px 0 14px;
overflow: hidden;
font-size: 16px;
font-weight: bold;
line-height: 18px;
color: #404040;
}
.card.people .card-info .desc {
display: block;
margin: 8px 14px 0 14px;
overflow: hidden;
font-size: 12px;
line-height: 16px;
color: #737373;
text-overflow: ellipsis;
}
.card.people .card-bottom {
position: absolute;
bottom: 0;
left: 0;
display: inline-block;
width: 100%;
padding: 10px 20px;
line-height: 29px;
text-align: center;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.card.hovercard {
position: relative;
padding-top: 0;
overflow: hidden;
text-align: center;
background-color: #fff;
width: 200px;
z-index: 100;
margin-left: -70px;
}
.card.hovercard .cardheader {
background: url("http://lorempixel.com/850/280/nature/4/");
background-size: cover;
height: 135px;
}
.card.hovercard .avatar {
position: relative;
top: -50px;
margin-bottom: -50px;
}
.card.hovercard .avatar img {
width: 100px;
height: 100px;
max-width: 100px;
max-height: 100px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .info {
padding: 4px 8px 10px;
}
.card.hovercard .info .title {
margin-bottom: 4px;
font-size: 24px;
line-height: 1;
color: #262626;
vertical-align: middle;
}
.card.hovercard .info .desc {
overflow: hidden;
font-size: 12px;
line-height: 20px;
color: #737373;
text-overflow: ellipsis;
}
.card.hovercard .bottom {
padding: 0 20px;
margin-bottom: 17px;
}
.rowWithFullWidth {
margin-left: 0 !important;
margin-right: 0 !important;
}
/* tags css */
.tags a {
border: 1px solid #DDD;
display: inline-block;
color: #717171;
background: #FFF;
-webkit-box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
-o-transition: all .1s ease-in-out;
-ms-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
border-radius: 7px;
margin: 0 3px 6px 0;
padding: 0px 10px;
font-size: 12px
}
.tags a.primary {
color: #FFF;
background-color: #747474;
}
.thumbs-up ul li {
list-style-type: none;
float: left;
padding: 5px;
}
.thumbs-up ul li a i {
background: #205D7A;
color: #fff;
width: 40px;
height: 40px;
border-radius: 20px;
font-size: 25px;
text-align: center;
margin-right: 10px;
padding-top: 15%;
transition: all 0.2s ease-in-out;
}
.thumbs-up ul li a i:hover {
opacity: .7;
}
.profileDetail {
display: none;
}
.profileDetail:hover .profileDetails {
display: block;
}
.sideinfo {
position: absolute;
z-index: 10;
float: right;
}
#myModal .modal-dialog {
margin-top: 24%;
width: 100%;
height: 100%;
max-height: 500px;
overflow-y: hidden;
}
#myModal .modal-body {
max-height: 80%;
overflow-y: auto;
}
/*}*/
#myModal .modal-content {
/*margin-top: 20%;*/
background-color: #ffffff;
!important;
/*height: 80%;*/
max-height: 500px;
overflow-y: hidden;
}
#myModal .modal-p {
text-align: center;
color: white;
font-size: 16px;
font-weight: 200;
}
#myModal .modal-img {
border-radius: 50%;
}
.scroll_main {
height: 120vmin;
position: relative;
overflow-y: scroll;
}
::-webkit-scrollbar {
width: 8px;
}
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px #19283c;
border-radius: 10px;
}
::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px #19283c;
}
.shadow_below {
box-shadow: 0px 2px 1px rgba(25, 40, 60, 0.36);
}
.ptn_bg {
background: #38475c;
background-color: #38475c;
}
.img-circle {
border-radius: 50%;
}
.tags {
padding: 4px;
margin: 3px;
background-color: #19283c;
border-radius: 4px;
color: white;
}
.tags:hover {
cursor: pointer;
}
</style>
<nav style="background-color: #19283C;" role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display-->
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand"><img src="/images/web-logo.png" style="height: 200%;"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling-->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <form role="search" class="navbar-form navbar-left">
                <div class="form-group">
                    <div class="icon-addon addon-lg">
                        <input id="email" type="text" placeholder="Search Tripshire" class="form-control" />
                        <label for="email" rel="tooltip" style="color: #fff" title="email" class="glyphicon glyphicon-search"></label>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a style="color: #fff" href="#" class="current">Bookmarks</a></li>
                <li><a style="color: #fff" href="#" class="current">Notification</a></li>
                <li><a style="color: #fff" href="#" class="current">Messages</a></li>
                <li><a style="color: #fff" href="#" data-toggle="modal" data-target="#myLoginModal">SignUp</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse-->
    </div>
</nav>
<div style="position: relative; top:6.8vh;">
    <div id="demoScroll" style="padding: 0px; margin: 0px;" class="constrained col-md-2   hidden-sm hidden-xs scroll_main">
        <div style="padding: 0px; margin: 0px;" infinite-scroll-container='"#demoScroll"' infinite-scroll='activities.nextPage()' infinite-scroll-distance='1'>
        </div>
        <center>
        <div bgcolor="#38475c" class='animated fadeInUp' ng-repeat="item in activities.items" style="padding: 2px; margin-bottom: 2.5%; background-color: #19283c" class="shadow_below" width='100%'>
            <img class='cover animated fadeIn' width="100%" ng-src="{{item.image_url[0]}}">
            <h4 style="color: #ffffff;"> <a style="text-decoration: none; color: #fff;" ng-click="logger($index);">{{item.name}}</a> </h4>
        </div>
        </center>
    </div>
    <div style="padding: 0px; margin: 0px;" class="col-md-10">
        <img width="100%" height="350px" style="object-fit:cover;" class="cover shadow_below" ng-src="{{SelectedPlace.image_url[0]}}">
        <br/>
        <br/>
        <h3 style="color: #ffffff;position: relative; left: 5%;">
        {{SelectedPlace.name}},
        <span style="width: 30px; margin-right: 90px;">&nbsp;</span><img width='65px' height="65px" class="img-circle hidden-md hidden-lg" src="https://www.gravatar.com/avatar/bf1b3b95fd5b096a3592247c29667b33.jpg?s=512">
        <img width='65px' height="65px" class="img-circle hidden-md hidden-lg" src="https://www.gravatar.com/avatar/bf1b3b95fd5b096a3592247c29667b33.jpg?s=512">
        <img width='65px' height="65px" class="img-circle hidden-md hidden-lg" src="https://www.gravatar.com/avatar/bf1b3b95fd5b096a3592247c29667b33.jpg?s=512">
        <br/>
        <h4 style="color: #ffffff; position: relative; left: 6%;">
        City, Country
        <span style="width: 30px; margin-right: 130px;">&nbsp;</span><button class="btn hidden-lg hidden-md ">Bookmark</button>
        <button class="btn hidden-lg hidden-md " >Suggest an Edit</button>
        </h4>
        <div class="row">
            
            <div style="padding-left: 6.8%;" class="col-xs-5 hidden-lg hidden-md">
                <h4 style="margin-top: 5px;color: #ffffff;">Highlights</h4>
                <br>
                <span ng-repeat="i in SelectedPlace.highlights" class="tags">{{i}}</span>
            </div>
            <div style="padding-left: 0;" class="col-xs-5 hidden-lg hidden-md">
                <h4 style="margin-top: 5px;color: #ffffff;">Related</h4>
                <br>
                <span ng-repeat="i in SelectedPlace.tags" class="tags">{{i}}</span>
            </div>
            <div class="col-xs-1 hidden-lg hidden-md">
                
            </div>
        </div>
        
        
        </h3>
        <br/>
    </div>
    <div class="col-md-1">
    </div>
    <div style="font-family:Circular std, Avenir, Verdana, Sans Serif; font-size: 1.25em; text-align: justify; color: #19283C; padding: 4px ;color: #19283c; border-radius: 8px ;background-color:#ffffff ;" class="col-md-6 sm_mar">
        {{SelectedPlace.description}} <br/><span ng-repeat="i in SelectedPlace.wiki">{{i.extract}}<br/></span>
    </div>
    <div class="col-md-2">
    </div>
    <div style="" class="col-md-3 hidden-xs hidden-sm">
        <button class="btn ">Bookmark</button>
        <button class="btn ">Suggest an Edit</button>
        <br/>
        <br/>
        <img width='75px' height="75px" class="img-circle" src="https://www.gravatar.com/avatar/bf1b3b95fd5b096a3592247c29667b33.jpg?s=512">
        <img width='75px' height="75px" class="img-circle" src="https://www.gravatar.com/avatar/bf1b3b95fd5b096a3592247c29667b33.jpg?s=512">
        <img width='75px' height="75px" class="img-circle" src="https://www.gravatar.com/avatar/bf1b3b95fd5b096a3592247c29667b33.jpg?s=512">
        <br/>
        <br/>
        <h4 style="margin-top: 5px;color: #ffffff;">Highlights</h4>
        <br>
        <span ng-repeat="i in SelectedPlace.highlights" class="tags">{{i}}</span>
        <br/>
        <br/>
        <h4 style="margin-top: 5px;color: #ffffff;">Related</h4>
        <br>
        <span ng-repeat="i in SelectedPlace.tags" class="tags">{{i}}</span>
    </div>
    <br/>
</div>
</div>
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block !important;" class="modal fade col-md-4 col-md-offset-8">
<div role="document" style="overflow-y: initial !important" class="modal-dialog">
    <div style=" overflow-y: auto;" class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            <h3 align="center" id="myModalLabel" class="modal-title animated fadeInDown">Post Heading</h3>
            <img class="animated fadeInDown" style="margin-top: 5px;" src="../res.cloudinary.com/tripshire-solutions-pvt-ltd/image/upload/c_scale%2cf_auto%2cq_auto%2cw_538/v1484421161/seminyak_beach_wuakuw.jpg" width='100%' style="margin:0px;">
            <div ng-repeat="i in array" class="row">
                <hr>
                <div align="center" class="col-xs-1">
                    <img style="border-radius: 50%; vertical-align: center; position: relative;top: 8px;" width="30px" height="30px" src="http://lorempixel.com/100/100/people/9/">
                </div>
                <div align="left" class="col-xs-11">
                    <h5><b>User_Name: </b>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</h5>
                </div>
            </div>
            <div style="bottom: 0px" class="row">
                <div class="col-xs-10">
                    <input type="text" class="form-control" name="">
                </div>
                <div class="col-xs-2">
                    <input type="button" value="Post" class="btn btn-primary" name="" />
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade col-md-6 col-md-offset-3">
<div class="middlePage">
    <div class="panel panel-info">
        <div class="panel-body">
            <div style="margin-bottom: 0px;" class="row" align="center">
                <img class="animated swing" src="images/logo-dark.png" style="margin-top: 5px; position: relative;top: -2" width="50%">
                <h4 style="color: #19283c; position: relative;" class="text-center">Join our awesome community ! Sigup: It's Free</h4>
            </div>
            <div align="center" style="position: relative;" class="row">
                <a href="/auth/facebook"><img src="/images/facebook.png" width="200px" height="100px" class="img-responsive"></a>
                <a href="#" ng-click="googleUser()"><img src="/images/google.png" width="200px" height="100px" class="img-responsive"></a>
            </div>
        </div>
        <hr>
        <h4 class="text-center">Already Existing User ? <a href="#">Login</a></h4>
        <p style="color: #19283c;" class="text-center">We understand you agree to our <a href="#">Terms & Condition</a> <a href="#">Privacy Policy</a></p>
    </div>
</div>
</div>